.app {
  background-image: url(./img/random.jpeg);
  background-position: center;
  background-size: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 2s ease-in-out;
}
  .Thunderstorm{
    background-image: url(./img/thunderstorm.jpeg);
  }
  .Drizzle{
    background-image: url(./img/drizzle.jpeg);
  }
  .Rain{
    background-image: url(./img/rain.jpeg);
  }
  .Snow{
    background-image: url(./img/snow.jpeg);
  }
  .Clear{
    background-image: url(./img/clear.jpeg);
  }
  .Clouds{
    background-image: url(./img/clouds.jpeg);
  }
.firstSection{
  width: 75%;
  height: 100%;
}
.secondSection{
  background: rgba(0, 0, 0, 0.793);
  width: 25%;
  height: 100%;
  box-sizing: content-box;
}
.preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: left;
  background-position-x: -9rem;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.412), rgba(0, 0, 0, 0.391)), url(./img/preloader.jpeg);
  color: rgb(255, 255, 255);
  transition: all 2s ease-in-out;
}